$btn-icon-gutter: 10px;

//custom type of button
.btn-link{
    color: $body-color;
    padding: 0;
    border:0;
    stroke: $body-color;

    @include hover() {
        text-decoration: none;
        color: $body-color;
        svg{
            stroke: $body-color;
            margin-left: $btn-icon-gutter;
        }
    }
}

@each $color, $value in $theme-colors {
    .btn-link-#{$color} {
        color: $value;
        stroke: $value;
        padding: 0;
        border:0;
        svg{
            stroke: $value;
        }
        @include hover() {
            color: $value;
            svg{
                stroke: $value;
            }
        }
    } 
}



//outline buttons modification
@each $color, $value in $theme-colors {
    .btn.btn-outline-#{$color} {
        svg{
            stroke: $value;
        }
        @include hover() {
            svg{
                stroke: color-yiq($value);
            }
        }
    } 
} 

//normal buttons modification
@each $color, $value in $theme-colors {
    .btn.btn-#{$color} {
        svg{
            stroke: color-yiq($value);
        }
        @include hover() {
            svg{
                stroke: color-yiq($value);
            }
        }
    }
}

.btn-primary{
    @include hover(){
        background: $brand-red-dark;
    }
}

.btn-secondary{
    @include hover(){
        background: $brand-gray;
    }
}


//buton icon logic

.btn{
    display: inline-flex;
    align-items: center;
    svg{
        @include transition(all 0.15s ease-in-out, left 0.15s ease-in-out, right 0.15s ease-in-out); //check $btn-transition
        &.icon{
            margin-left: $btn-icon-gutter;
        }
    }
    
    
    
    &:focus, &:active{
        outline:0; 
        box-shadow: none;
    }   

    .arrow-right, .arrow-left{
        position: relative;
        width: 22px;
        height: 16px
    }

    .arrow-right{
        margin-left: $btn-icon-gutter;
        right:0;
    }
    .arrow-left{
        margin-left: 0;
        margin-right: $btn-icon-gutter;
        left:0;
    } 


    &.btn-lg{
        .arrow-right, .arrow-left{
            width: 32px;
            height: 23px;
        }
         &.icon{
            margin-left: $btn-icon-gutter * 1.5;
        }
    }

    //animation
    @include hover(){
        .arrow-right{
            right: - $btn-icon-gutter/2;
        }
        .arrow-left{
            left: - $btn-icon-gutter/2;
        }
    }

} 