
$brand-colors: (
    "white": $white,
    "brand-gray-light": $brand-gray-light,
    "brand-gray": $brand-gray,
    "brand-gray-dark": $brand-gray-dark,
    "brand-red": $brand-red,
    "brand-red-dark": $brand-red-dark
);

@each $key, $val in $brand-colors {
    .bg-#{$key} {
        background-color: #{$val};// !important;
    }
}


@each $key, $val in $grays {
    .bg-gray-#{$key} {
        background-color: #{$val};
    }
}


@each $key, $val in $brand-colors {
    .#{$key}-text {
        color: #{$val} !important;
    }
}
