$brand-colors: (
    "gray-100": $gray-100,
    "gray-200": $gray-200,
    "gray-300": $gray-300,
    "gray-400": $gray-400,
    "gray-500": $gray-500,
    "gray-600": $gray-600,
    "gray-700": $gray-700,
    "gray-800": $gray-800,
    "gray-900": $gray-900,
);

@each $key, $val in $brand-colors {
    .bg-#{$key} {
        background-color: #{$val};// !important;
    }
}


@each $key, $val in $grays {
    .bg-gray-#{$key} {
        background-color: #{$val};
    }
}


@each $key, $val in $brand-colors {
    .#{$key}-text {
        color: #{$val} !important;
    }
}
