a{
    text-decoration: underline;
    font-weight: 500;
    color: $brand-red;
    &:hover{
        color: $brand-red-dark;
        text-decoration: none;
    }
}

.list-normal{
    list-style: none;
    position: relative;
    padding-left: 25px;
    & > li{
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: -25px;
            width: 14px;
            height: 12px;
            top:6px;
            @include svgicons(theme-color("primary"), 'list-check');            
        } 
    }
    ul{
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}

.list-styled{
    list-style:none;

    padding-left: 50px;
    li{
        padding: 0.5rem 0;
        font-weight: 500;
        position: relative;
        margin-bottom: 0.5rem;
        font-size: 22px;
        &::before {
            content:'';
            left: -50px;
            position: absolute;
            top: 4px;
            width: 40px;
            height: 40px;
            border:1px solid theme-color("primary");
            border-radius: 50%;

            @include svgicons(theme-color("primary"), 'list-check');
            background-size: 20px;
            background-position: center 57%;
        }
    }

    ul{
        list-style: none; 
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

.text-uppercase{
    text-transform: uppercase;
}

.social-links{
    a{
        text-decoration: none;
        color: $brand-gray-dark;
        font-size: 28px;
    }
}

/* #images # */
.bg-img, .img-fluid{
    border-radius: $border-radius;
}

//use as video mask for border radius 
.video-js{
    overflow: hidden;
    border-radius: $border-radius;
}
