# This uses a whitelist strategy

# At first nothing is included in git at all
/*
# with the exclamation mark (!) there are several
# files and folders included back again
!/.editorconfig
!/.jshintrc

!/.gitignore
!/src
/src/js/sprite.js
!/index.html
!/html/

!/package.json
!/Gruntfile.js
!/package-lock.json
!/postcss.config.js
!/grunt
!/README.md
