.carousel-startpage{
    .carousel{
        &-item{
            height: 100vh;
            position:relative;
            
            .bg-img{
                @include overlay(1);
                
                &::before{
                    content:'';
                    @include overlay(1);
                    background: rgba($black, 0.15);
                    
                }
                
            }
        }
    }
}