#header {
  .header {
    height: 128px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    background-color: rgba($black, 0.8);
    z-index: 250;
    transition: background-color 0.15s ease;

    @include media-breakpoint-down(md) {
      height: 94px;
    }

    &-home {
      box-shadow: none;
      background-color: transparent;

      @include media-breakpoint-down(md) {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        background-color: rgba($black, 0.8);
      }
      
      .navbar-logo {
        opacity: 0;

        @include media-breakpoint-down(md) {
          opacity: 1;
        }

        &-home {
          opacity: 1;

          @include media-breakpoint-down(md) {
            opacity: 0;
          }
        }
      }
    }

    &-active {
      background-color: $white;
      box-shadow: none;

      .navbar-logo {
        opacity: 1;

        &-home {
          opacity: 0;
        }
      }
    }
  }
}

#navbar {
  width: 100%;

  .navbar {
    height: 100%;
    padding-top: $spacer * 1.5;
    padding-bottom: $spacer;
  
    &-active {
      .navbar-logo {
        fill: $black;
  
        &-home {
          opacity: 0;
        }
      }
      
      .nav {
        &-link {
          @include media-breakpoint-up(lg) {
            color: $brand-gray-dark !important;
          }
        }
  
        &-search {
          svg {
            fill: $brand-gray-dark !important;
          }
        }
      }
    }

    .collapsing {
      -webkit-transition: none;
      transition: none;
      display: block;
      height: 100%;
    }
  
    &-brand {
      position: relative;
    }
  
    &-logo {
      max-width: 240px;
      max-height: 63px;
      fill: $white;
  
      transition: opacity 0.15s ease, fill 0.15s ease;

      @include media-breakpoint-down(md) {
        max-width: 150px;
        max-height: 40px;
      }
  
      &-home {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
      }
    }

    &-nav {
      @include media-breakpoint-down(md) {
        width: 100%;
        padding-bottom: 46px;
      }
    }
  
    &-content {
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-end;
      
      @include media-breakpoint-up(lg) {
        height: 100%;
      }

      @include media-breakpoint-down(md) {
        position: fixed;
        top: 94px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f4f4f4;
        padding-top: 42px;
        overflow-y: scroll;
      }

      &.show {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;

        @include media-breakpoint-down(md) {
          align-items: flex-start;
          justify-content:start;
        }
      }

      >  .container {
        @include media-breakpoint-up(lg) {
          flex-direction: column;
          align-items: flex-end;
          height: 100%;
          padding: 0;
        }
      }
    }

    .topbar {
      display: flex;
      padding-left: 0;
      padding-bottom: $spacer-extra-small;
      margin-bottom: 0;
      list-style-type: none;

      @include media-breakpoint-down(md) {
        order: 2;
        flex-direction: column;
        padding-bottom: 0;
      }
  
      &-item {
        margin-left: 9px;
        margin-right: 9px;

        @include media-breakpoint-down(md) {
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 9px;
        }
  
        &:last-child {
          margin-right: 0;
        }
      }
  
      &-link {
        color: $brand-gray;
        font-size: $font-size-xs;
        font-weight: $font-weight-bold;
        text-decoration: none;
        line-height: normal;
        display: block;
        transition: color 0.15s ease;
  
        @include hover() {
          text-decoration: none;
          color: $brand-gray-dark;
        }
      }
    }
  
    .nav {
      &-item {
        padding-left: rem(14px);
        padding-right: rem(14px);
        display: flex;
        align-items: center;
        position: relative;

        @include media-breakpoint-down(md) {
          display: block;
          padding-top: 23px;
          padding-bottom: 6px;
          border-bottom: 1px solid $brand-gray;

          &:first-child {
            border-top: 1px solid $brand-gray;
          }
        }
  
        &:last-child {
          padding-right: 0;

          @include media-breakpoint-down(md) {
            display: none;
          }
        } 
      }

      &-controls {
        position: relative;

        &-active {
          .nav-link-toggler{
            &::before {
              transform: rotateZ(90deg);
            }
          }
        }
      }
  
      &-link {
        color: $white;
        font-size: rem(15px);
        font-weight: $font-weight-bold;
        line-height: normal;
        padding: 0;
        text-decoration: none;
        transition: color 0.15s ease;
  
        position: relative;
    
        @include hover() {
          color: $brand-red;
        }

        @include media-breakpoint-down(md) {
          display: inline-block;
          font-size: $font-size-lg;
          line-height: 21.6px;
          color: $brand-red;
          padding-top: 0;
          padding-bottom: 20px;
        }
  
        &-current {
          color: $brand-red;
        }

        &-top {
          &.nav-link-active {

            @include media-breakpoint-down(md) {
              padding-bottom: 38px;
            }
          }
        }

        &-mobile {
          @include media-breakpoint-up(lg) {
            display: none !important;
          }
        }

        &-toggler {
          @include media-breakpoint-down(md) {
            text-indent: -9999px;
            width: 20px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            display: inline-block;

            &::before,
            &::after {
              content:"";
              display: block;
              position: absolute;
              top: 4px;
              right: 9px;
              height: 18px;
              width: 2px;
              background-color: $black;
            }

            &::before {
              transition: transform 0.15s ease;
            }

            &::after {
              transform: rotateZ(90deg);
            }
          }
        }

        &-subheading {
          padding-bottom: 36px;
          font-size: rem(22px);
          font-weight: $font-weight-bold;
          display: inline-block;
          color: $black;
          letter-spacing: 0.33px;
          text-align: left;
  
          svg {
            width: 21px;
            stroke-width: 2px;
          }
  
          @include hover() {
            color: $brand-red-dark;
            
            svg {
              stroke: $brand-red-dark;
            }
          }
  
          &-no-subpage {
            color: rgba(0, 0, 0, 0.5);
  
            svg {
              display: none;
            }
  
            @include hover {
              color: rgba(0, 0, 0, 0.5);
              cursor: default;
            }
          }
  
          @include media-breakpoint-down(md) {
            padding-bottom: 30px;

            svg {
              display: none;
            }
          }
        }

        &-type {
          display: block;
          letter-spacing: 0.24px;
          font-size: rem(16px);
          font-weight: $font-weight-bold;
          padding-bottom: 11px;
          line-height: normal;
          color: $black;
          display: inline-block;
          text-decoration: none;
          transition: color 0.15s ease;
  
          @include hover() {
            color: $brand-red-dark;
            cursor: pointer;
          }
  
          &-no-subpage {
            color: rgba(0, 0, 0, 0.5);
            text-transform: uppercase;
  
            @include hover() {
              color: rgba(0, 0, 0, 0.5);
              cursor:default;
            }
          }
 
          @include media-breakpoint-down(md) {
            padding-bottom:12px;
          }
        }
  
        &-active {
          @include media-breakpoint-up(lg) {
            &::after {
              content: "";
              display: block;
              position: absolute;
              bottom: -8px;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: $brand-red;
            }
          }
        }
      }
  
      &-search {
        padding: 0;
        appearance: none;

        @include media-breakpoint-down(md) {
          display: none;
        }

        &-mobile {
          margin-left: auto;
          display: block;

          @include media-breakpoint-up(lg) {
            display: none;
          }
        }
  
        svg {
          margin-left: 0;
          fill: $white;
          transition: fill 0.15s ease;

          @include hover() {
            fill: $brand-red;
          }
        }
      }
  
      &-menu {
        @include media-breakpoint-up(lg) {
          position: fixed;
          top: 128px;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $brand-gray-light;
          padding-top: 20px;
          overflow-y: scroll;
        }
  
        > .container {
          display: block;

          @include media-breakpoint-down(md) {
            padding: 0;
          }
        }
  
        &-top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding-bottom: $spacer-extra-small;
          border-bottom: 1px solid $brand-gray;
          margin-bottom: 35px;

          @include media-breakpoint-down(md) {
            display: none;
          }
        }
  
        &-heading {
          font-weight: $font-weight-bold;
  
          svg {
            stroke-width: 1.5px;
            margin-left: 22px;
          }
        }
    
        &-close {
          appearance: none;
          border: none;
          background-color: transparent;
          color: $brand-gray;
          font-size: rem(14px);
          display: flex;
          align-items: center;
          text-decoration: none;
          transition: color 0.15s ease;
  
          @include hover() {
            text-decoration: none;
            color: $brand-gray-dark;
          }
  
          &:after{
            content: "";
            position: relative;
            display: inline-block;
            height: 31px;
            width: 31px;
            margin-left: 10px;
  
            @include svgicons($black,'close');
          } 
        }
  
        &-content {
          display: flex;
          flex-wrap: wrap;

          .collapse {
            @include media-breakpoint-up(lg) {
              display: block;
            }
          }
        }
  
        &-section {
          display: flex;
          flex-grow: 1;
          flex-direction: column;
          min-width: 25%;

          @include media-breakpoint-down(md) {
            min-width: 100%;
          }
        }

        &-type {
          @include media-breakpoint-down(md) {
            padding-bottom: 18px;
          }
        }
  
        &-list {
          padding-left: 10px;
          list-style-type: none;
          padding-bottom: $spacer-small;

          @include media-breakpoint-down(md) {
              padding-bottom: 12px;
          }
        }
  
        &-link {
          color: $black;
          letter-spacing: 0.24px;
          line-height: 31px;
          font-size: rem(16px);
          transition: color 0.15s ease;
          text-decoration: none;
          font-weight: $font-weight-bold;
  
          @include hover() {
            color: $brand-red-dark;
          }
  
          &-current {
            color: $brand-red;
          }
        }
      }
    }
  }
}

body {
  &.body-overflow {
    overflow: hidden;
    height: 100vh;
  }
}
