.metanav {
    display: flex;
    padding-left: 0;
    padding-bottom: $spacer-extra-small;
    margin-bottom: 0;
    list-style-type: none;

    @include media-breakpoint-down(md) {
        order: 1;
        flex-direction: column;
        padding-bottom: 0;
    }

    &-item {
        margin-left: 9px;
        margin-right: 9px;

        @include media-breakpoint-down(md) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 9px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &-link {
        color: $brand-gray;
        font-size: $font-size-xs;
        font-weight: $font-weight-bold;
        text-decoration: none;
        line-height: normal;
        display: block;
        transition: color 0.15s ease;

        @include hover() {
            text-decoration: none;
            color: $brand-gray-dark;
        }
    }
}