.nav-toggler{
    background: none;
    border:0;
    outline: 0;
    padding: 0;
    text-indent: -9999px;
    
    width: 20px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    display: block;

    &::before,
    &::after {
        content:"";
        display: block;
        position: absolute;
        top: 50%;
        right: $toggler-size/2;
        height: $toggler-size;
        margin-top: $toggler-size/-2;
        width: 2px;
        background-color: $black;
    }

    &::before {
        transition: transform 0.15s ease;
    }
    &::after {
        transform: rotateZ(90deg);
    }
    &:not(.collapsed){
        &::before {
            transform: rotateZ(90deg);
        }
    }
}