//custom bootstrap variables
$header-height:    128px;
$header-height-sm: 94px;

//custom box spacing
$spacer-extra-small: rem(20px);
$spacer-small: rem(40px);
$spacer-medium: rem(50px);
$spacer-large: rem(80px);
$spacer-extra-large: rem(120px); 


